.auth_card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 360px;
    background-color: #fff;
    border-radius: 6px;
    padding: 1rem;
}
.auth_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.auth_header svg{
color: blue;
font-size: 2rem;
}
.auth_header p{
    font-size: 1.4rem;
    font-weight: 700;
}
.auth_header span{
color: gray;
}

.otp-inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}